node_modules
tailwindDefault.config.js
.firebaserc
database.rules.json
firebase.json
storage.rules
.firebase
firebase-debug.log
ui-debug.log
database-debug.log
webpack.prod.js
webpack.dev.js
webpack.common.js
postcss.config.js
tailwind.config.js
