node_modules
tailwindDefault.config.js
.firebaserc
database.rules.json
# firebase.json - keep this in git for deployment config
# storage.rules - keep this in git if you use storage
.firebase
firebase-debug.log
ui-debug.log
database-debug.log
webpack.prod.js
webpack.dev.js
webpack.common.js
postcss.config.js
.env
.env.local
