@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.formElement{
    @apply m-2 rounded-sm text-black;
}

.contributeTitles {
    @apply font-Monstserrat text-2xl font-bold mx-2 mb-2 mt-4 text-primary-300;
}

.wrapper{
    @apply flex flex-col w-full;
}

.button{
    @apply cursor-pointer transform transition-transform;
}

body > .skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}